<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8" />
        {% include 'header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/splash.css') }}" />
        <title> Find Tacos Near You </title>
     </head>
    
	<body>
        <h1 class="logo">I Want Ta.co</h1>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>

    <div id="stuff">
	<div class="row">
    <form class="col s12">
      <div class="row">
       <div class="input-field col s6">
          <input id="zip_code" type="text" class="validate" length="5">
          <label for="zip_code">Zip Code</label>
        </div>
      </div>
      
    </form>
  </div>
</div>
	  
	  
	  
        
      <script>
	  $('form').submit(function(){
		var zip = $('#zip_code').val();
		console.log("zip code is : " + zip);
		var currentLocation = window.location;
		console.log("site" + currentLocation);
		window.location.href = window.location + 'map/' + zip;
		return false;
		});
		
	  </script
    </body>
</html>