<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ta.co</title>
        {% include 'header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/splash.css') }}" />
        <link href="http://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Hello Ta.co</p>
        <p> PLACE: {{ place }} </p>
        <table style="width:100%">
        {% for tup in output %}
            {% with bus=tup[0] %}
            {% with loc=tup[1] %}
                {% include 'business.html' %}
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </table>
    </body>
</html>